<article class="post">
    <div class="title">
        {{title}}
    </div>
    <div class="meta">
        Posted on {{format_date created_at}}. Upvotes: {{likes_count}} {{format_plural "like" likes_count}}
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>
